.menu ul{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    text-align: center;
    line-height: 300%;
    border-bottom:solid 2px black;
    margin-bottom: 50px;
}


.menu li{
    width: 190px;
    border-right: solid 1px gray;
}

.menu span{
    flex:none;
}


.menu ul :nth-child(8){
    border-right: none;
}