.review__score{
    display: flex;
}

.review__score_avg{
    flex: 1;
    text-align: center;
}

.review__score_list{
    flex: 1;
    text-align: center;
}

li{
    list-style-type: none;
}

.review__button{
    flex: 1;
    text-align: center;
}

.review__score_graph div {
    display: block;
    flex: 1;
    width: 75%;
    background-color: orange;
}

.review__list {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.review__list_user{
    width: 200px;
}