a{
    text-decoration: none; color: #1a1a1a;
  }
.home_container{
    margin: 80px 0 100px 0;
}
.title{
    margin: 16px 0; font-weight: 500; font-size: 23px; 
 }
 .swiper_wrapper{
   width: 1170px;
   height: 350px;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space:nowrap;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   grid-auto-flow: column;
   grid-auto-columns: minmax(400px 1fr);
   grid-gap: 22px;
}
.swiper_wrapper::-webkit-scrollbar {
  height: 8px;
}
.swiper_wrapper::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
.swiper_wrapper::-webkit-scrollbar-track {
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.slide_item img:hover {
  filter: blur(0.8px);
}
.slide_item img {
  width:400px; height:266px;
}
.slide_item h4{
  margin: 16px 0;
}