@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
.home{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px; font-weight: 300; line-height: 1.75; color: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.home__row {
  width: 1170px; margin: 0 auto;
}

.home__img {
  width: 100%;
  margin-top: 30px;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  height: 340px;
}
