* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
}

.product__rating {
  margin-top: 10px;
  display: flex;
}

.product__img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  cursor: pointer;
}

.product__info {
  height: 100px;
  margin-bottom: 10px;
}

.product > button {
  background: #000;
  border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  padding: 2px 10px;
  border: none;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.product__price {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
<<<<<<< HEAD
}

/*img hover*/

a {
  display: block;
  width: auto;
  color: #333;
  margin: 5px 5px 10px 5px;
}
a .screen {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}
a .screen img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}
a .screen span {
  display: block;
  position: absolute;
  background: #30d0c6;
  transition: all 0.5s;
  z-index: 2;
}
a .screen span:nth-child(1) {
  top: 0;
  height: 5px;
  width: 0;
}
a .screen span:nth-child(2) {
  top: 0;
  right: 0;
  height: 5px;
  width: 0;
}
a .screen span:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 5px;
  width: 0;
}
a .screen span:nth-child(4) {
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}
a:hover .screen span:nth-child(1) {
  width: 100%;
}
a:hover .screen span:nth-child(2) {
  height: 100%;
}
a:hover .screen span:nth-child(3) {
  width: 100%;
}
a:hover .screen span:nth-child(4) {
  height: 100%;
}
=======
}
>>>>>>> 19baeff4b9c23da3c31e99393bff719b0b0a91fd
