.addProduct {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.addProduct__container {
  /* background: rgb(182, 167, 167); */
  width: 1200px;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px auto;
  border: 2px solid gray;
}

.addProduct__container__head {
  padding-left: 36px;
  padding-top: 20px;
}

.addProduct__search {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 50px;
  /* background: rgb(121, 112, 112); */
}

.addProduct__search > input {
  height: 30px;
  width: 450px;
}

.addProduct__searchbar {
  display: flex;
}

.addProduct__searchbar > p {
  margin-right: 14px;
}

.addProduct__category {
  display: flex;
  height: 56px;
  margin-right: 160px;
  margin-left: 40px;
  margin-top: 20px;
}

.addProduct__category > select {
  width: 400px;
  height: 32px;
}

.addProduct__category > p {
  margin-right: 14px;
}

.addProduct__form {
  display: flex;
  margin-left: 36px;
  margin-top: 60px;
}

.product-description {
  display: flex;
}

.product-description > label {
  padding: 10px;
}

.product-description > input {
  height: 200px;
  width: 835px;
}

.price {
  display: flex;
  margin-top: 30px;
  margin-left: 120px;
}

.price > label {
  padding-right: 10px;
}

.stock {
  margin-left: 120px;
  margin-top: 30px;
}

.stock > label {
  padding-right: 6px;
}
